---
import CompatibilityList from "~/components/compatibility-list.astro";
import ContentSection from "~/components/content-section.astro";
import type { CompatibilityItem } from "~/types";
import {setup1inchWidget} from '@1inch/embedded-widget';


---

<ContentSection title="How to buy BUTTER?" id="compatibility">
  <Fragment slot="lead">
    <span class="text-primary">BUTTER</span> is available on Uniswap.<br>To buy <span class="text-primary">BUTTER</span>, you need to have some ETH in your wallet and follow these simple steps:
  </Fragment>

  
  <iframe
  src="https://app.uniswap.org/#/swap?inputCurrency=ETH&outputCurrency=0x0d248ce39e26fb00f911fb1e7a45a00d8c94341c"
  height="660px"
  width="100%"
  style="
    border: 0;
    margin: 0 auto;
    margin-bottom: .5rem;
    display: block;
    border-radius: 10px;
    max-width: 960px;
    min-width: 300px;
  "
/>
</ContentSection>


