---
import { Icon } from "astro-icon";
import HeroImage from "~/components/hero-image.astro";
import type { FooterLink } from "~/types";

const links: Array<FooterLink> = [
  
  {
    url: "https://t.me/buttercoinethportal",
    description: "Telegram",
    icon: "fa-brands:telegram",
  },
  {
    url: "https://twitter.com/buttercoineth",
    description: "Twitter",
    icon: "fa-brands:twitter",
  },
  {
    url: "https://www.dextools.io",
    description: "DEXTools",
    icon: "fa-brands:twitter",
  },
  {
    url: "https://www.coinmarketcap.com",
    description: "Coinmarketcap",
    icon: "fa-brands:twitter",
  },
  
];
---

<footer class="relative flex h-64 items-center justify-center">
  <div class="absolute inset-0 overflow-hidden opacity-40">
    <HeroImage />
  </div>
  <ul class="relative grid grid-cols-2 gap-8 sm:grid-cols-4 ">
    {
      links.map((link) => (
        <li>
          <a
            class="flex h-12 shadow-lg font-bold w-auto items-center justify-center bg-yellow-300 hover:bg-yellow-900 p-4" // Modified width from 16 to 24
            href={link.url}
          >
            <span class="sr-only">{link.description}</span>
            <span>{link.description}</span>
          </a>
        </li>
      ))
    }
  </ul>
</footer>
