---
import ContentSection from "~/components/content-section.astro";
import ShowcaseCard from "~/components/showcase-card.astro";
import { getShowcase } from "~/data/showcase";

const sites = await getShowcase();
---

<ContentSection title="Tokenomics"  id="showcase">
  <Fragment slot="lead">
    
    3% went to Liquidity Providers and 5% was air-dropped to lobsterdao NFT holders.<br>And don’t worry about the supply, we’ve got 92% of the tokens locked in the Liquidity Pool.<br>We’re not hiding anything under the table, we’re fully transparent and delicious.<br>Join us and get a stick of <span class="text-primary">BUTTER</span> today!
  </Fragment>
  <div class="max-w-6xl space-y-2">
    <!-- <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
      {sites.map((site) => <ShowcaseCard site={site} />)}
    </div> -->
    <p class="text-right text-sm">
      <a class="text-primary" href="https://twitter.com/buttercoineth">
        ...learn more &rarr;
      </a>
    </p>
  </div>
</ContentSection>
